* {
    box-sizing: border-box;
    font-family:  "Times New Roman", serif;
}

/* Introduce columns. */
[class*="col-"] {
    float: left;
    padding: 20px;
    /* Full width for all elements on small screens. */
    width: 100%;
}

p {
    color: #2D3142;
    font-size: 20px;
}

.header {
    width: 100%;
    padding: 20px;
    margin-bottom: 25px;

    background-color: #2D3142;
    color: white;

    font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}

.portfolio {
    position: relative;
    border: solid 2px #2D3142;
    padding: 10px;
}

.portfolio h1 {
    /* Overwrite padding from parent element. */
    margin: -10px -10px 25px -10px;
    padding: 10px 60px 10px 5px;

    background-color: #EF8354;
    color: white;

    font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
}

.closeIcon {
    position: absolute;
    top: 15px;
    right: 15px;

    cursor: pointer;

    color: white;
}

.tableWrapper {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 30px;
    max-height: 400px;

    /* Handle overflow of the wrapped table. */
    overflow: auto;
}

.portfolio table {
    width: 100%;

    border-collapse: collapse;
    border: 1px solid;

    color: #2D3142;
}

.portfolio th {
    border: 1px solid #2D3142;
    padding: 5px;

    background-color: #4F5D75;
    color: white;
}

.portfolio td {
    width: 20%;
    min-width: 100px;
    border: 1px solid;
    padding: 5px;
}

.tableWrapper input {
    width: 100%;
    border: none;
}

.newPortfolio {
    border: solid 2px #2D3142;
    padding: 10px;
}

.newPortfolio input {
    width: 100%;
    padding: 12px;
    border: 1px solid #2D3142;

    font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 20px;
}

.portfolio button {
    border: solid 2px;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;

    background: none;
    color: #EF8354;

    font-family: "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    text-align: center;

    cursor: pointer;
}

.portfolio button:hover {
    border: solid 2px #EF8354;
    background-color: #EF8354;
    color: white;
}

.portfolio button:active {
    border: solid 2px #EF8354;
    background-color: white;
    color: #EF8354;
}

.addIconWrapper {
    width: 100%;
    padding: 25px;

    text-align: center;
}

.addIcon {
    color: #BFC0C0;
    cursor: pointer;
}

.addIcon:hover {
    color: #2D3142;
}

.popupWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    /* Grey out the background. */
    background-color: rgba(0,0,0, 0.5);
}

.popup {
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;

    background-color: white;
}

.closeGraph {
    position: absolute;
    top: 15px;
    right: 15px;

    cursor: pointer;

    color: #2D3142;
}

/* Changes for computer screens. */
@media only screen and (min-width: 768px) {

    /* Introduce 12 columns for computer screens. */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    p {
        /* Smaller fonts on computers because user is more focussed. */
        font-size: 18px;
    }

    .header {
        /* Bigger headline on computers. */
        font-size: 48px;
    }

    .portfolio button {
        font-size: 16px;
    }

    .portfolio th {
        /* Smaller table rows on computers because a mouse is more precise than a finger. */
        padding: 3px;
    }

    .portfolio td {
        padding: 3px;
    }

    .tableWrapper {
        height: 220px;
    }
}